<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">

 <title>Emoji Editor</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>&#128302;&#128298;💣</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://www.parsecdn.com/js/parse-1.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/emojione/1.5.0/lib/js/emojione.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/1.5.0/assets/css/emojione.min.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
 <script src="splitter.js"></script>
 <script src="emojificate.js"></script>
 <script src-"parser/codegen.js"></script>
 <script src="parser/emoji.js"></script>



<script type="text/javascript" src="emojiController.js"></script>
  <!-- get rid of this later for deployment -->
  <link rel="stylesheet" type="text/css" href="style.css" media="screen">

</head>
<body>


<script type="text/javascript">
// external js: isotope.pkgd.js

$( document ).ready( function() {

  document.getElementById('outputBox').readOnly = true;

$("#MySplitter").splitter;
$().splitter({splitbarKey: "I"})

$("#MySplitter").trigger("resize", [ 200 ]);
  // init Isotope
  var $container = $('.isotope').isotope({
    itemSelector: '.element-item',
    layoutMode: 'fitRows',
    getSortData: {
      name: '.name',
      symbol: '.symbol',
      number: '.number parseInt',
      category: '[data-category]',
      unicode: function( itemElem ) {
        var unicode = $( itemElem ).find('.unicode').text();
        return parseFloat( unicode.replace( /[\(\)]/g, '') );


      }
    }
  });

  // filter functions
  var filterFns = {
    // show if number is greater than 50
    numberGreaterThan50: function() {
      var number = $(this).find('.number').text();
      return parseInt( number, 10 ) > 50;
    },
    // show if name ends with -ium
    ium: function() {
      var name = $(this).find('.name').text();
      return name.match( /ium$/ );
    }
  };

  // bind filter button click
  $('#filters').on( 'click', 'button', function() {
    var filterValue = $( this ).attr('data-filter');
    // use filterFn if matches value
    filterValue = filterFns[ filterValue ] || filterValue;
    $container.isotope({ filter: filterValue });
  });

  // bind sort button click
  $('#sorts').on( 'click', 'button', function() {
    var sortByValue = $(this).attr('data-sort-by');
    $container.isotope({ sortBy: sortByValue });
  });

   
   $("button").click(function() {
    
    var emojis = $(this).children("p").attr('id'); //THIS IS WHERE I INSERT INTO 
   //var a = document.getElementById(emoji).innerHTML;
    //console.log(a)
    //editor.insert(a);
});
  // change is-checked class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });
  
});


function compile(){

  input = document.getElementById("source").innerHTML;

  console.log(input);

  var ir = parser.parse(input.toString());

  console.log(ir);
  console.log(JSON.stringify(ir));
  var compiled = codegen.traverse(ir);
  console.log(eval(compiled))


  temp = document.getElementById("outputBox").innerHTML
  temp = temp + "\n" + eval(compiled);
  document.getElementById("outputBox").innerHTML = temp
}


</script>







<div id="LeftPane">

 <div ng-controller="emojiController" id="">
<div ng-bind="source" id="source" contentEditable="true"></div>
<button ng-click="toImage()">Convert to Images</button>
<button ng-click="toUnicode()">Convert to Unicode</button>
<button ng-click="save()">Save to Cloud</button>
<button ng-click="compile()" onclick="compile()">compile and run</button>
<button ng-click="source=''">Clear</button>
</div>
<!--
<div id="editor">Enter Code Here</div>
<script src="src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/javascript");
    //editor.resize(true);
</script>
-->



</div>

<div id="RightPane">
<div id="output">
<input type="text" name="outputBox" id="outputBox">
</div>
</div>




<link rel="stylesheet" href="style.css" />
</head>

</html>
